{{!-- <div style="margin-bottom: 40%;">
  <form id="search-form">
      <label for="user-id-input">User ID:</label>
      <input type="text" id="user-id-input" name="user-id">
      <button type="submit">Search</button>
    </form>
    <div id="dashboard" style="width: 100%; height: 300px" >
      <h1>Our Products</h1>
    {{#each products}}
      <div>
        <h2>{{name}}</h2>
        <p>{{description}}</p>
        <p>${{price}}</p>
        <img src="{{image}}" alt="{{name}}">
      </div>
    {{/each}}
  </div>
</div> --}}
<div class="mainn">

   {{#if user}}

      <div class="aftermainn">
        <a href="/" class="dashboardlogo">HI Welcome Back</a>
        <img src="{{ user.image}}" alt="">

        <p> {{ user.lastName}} {{ user.firstName }}<br> <span>{{ user.email}}</span></p>



      </div>
   {{/if}}
</div>
<p>{{msg}}</p>
<div class="category-dropdown">
      <a href="">Avaliable</a>

      <a href="">Raw Meats </a>
      <a href="">Cakes and chocolates </a>
      <a href="">Drinks and Water </a>
      <a href="">Chickens </a>



    </div>
<div class="for-product">
  {{#each products}}
      <div class="product-container">
        <img src="{{image}}" alt="{{name}}">
        <h2>{{name}}</h2>
        <p>{{description}}</p>
        <p>{{title}}</p>
        <p>${{price}}</p>
        <p>{{created}}</p>


      </div>
    {{/each}}
</div>

